/* css/style_for_html.css */

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

body {
  margin: 0;
  padding: 0;
  background: #FA824C;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Bungee Hairline", sans-serif;
}

.about-container {
  text-align: center;
}

.contacts-content {
  margin-top: 100px;
}

p {
  font-weight: 300;
  font-size: 20px;
  margin-top: 0.5em;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.emoji {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 80%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  border-radius: 3px;
  transition: opacity 0.2s ease-in-out;
  font-size: 20px;
  font-family: "Bungee Hairline", sans-serif;
  font-weight: 300;
}

.emoji:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

footer {
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-text {
  font-size: 16px;
}
